<section class="sponsors-section" id="sponsors" aria-label="Onze partners">
  <div class="container">
    <div class="sponsors-header">
      <h2 class="sponsors-title">Onze Partners</h2>
    </div>
    <div class="sponsors-carousel">
      <div class="sponsors-scroll">
        <div class="sponsor-item">
          <img src="/images/sponsors/Aigle.jpg" alt="Aigle" class="sponsor-logo" />
        </div>
        <div class="sponsor-item">
          <img src="/images/sponsors/Browning.jpg" alt="Browning" class="sponsor-logo" />
        </div>
        <div class="sponsor-item">
          <img src="/images/sponsors/Deerhunter.jpg" alt="Deerhunter" class="sponsor-logo" />
        </div>
        <div class="sponsor-item">
          <img src="/images/sponsors/Fair.jpg" alt="Fair" class="sponsor-logo" />
        </div>
        <div class="sponsor-item">
          <img src="/images/sponsors/Maryarm.jpg" alt="Mary Arm" class="sponsor-logo" />
        </div>
        <div class="sponsor-item">
          <img src="/images/sponsors/Swarovski.jpg" alt="Swarovski" class="sponsor-logo" />
        </div>
        <div class="sponsor-item">
          <img src="/images/sponsors/Winchester.jpg" alt="Winchester" class="sponsor-logo" />
        </div>
        <div class="sponsor-item">
          <img src="/images/sponsors/barbour.jpg" alt="Barbour" class="sponsor-logo" />
        </div>
      </div>
    </div>
  </div>
</section>
